<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">

  <title>WebQRTC</title>
  {{> ../components/meta.handlebars}}
  {{> ../components/style.handlebars}}
</head>
<body>
<tc-landing></tc-landing>
<script id="landing" async src="./landing.js"></script>
</body>
</html>
