<meta charset="UTF-8">
<link rel="manifest" href="manifest.webmanifest">
<meta name=viewport content="width=device-width, initial-scale=1">
<meta property="og:type" content="website" />
<meta name="version" content="${require('../../package.json').version}"/>
