<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">

  <title>WebQRTC QRCode scanner</title>
  {{> ../components/meta.handlebars}}
  {{> ../components/style.handlebars}}
</head>
<body>
  <tc-qr-scanner></tc-qr-scanner>
  <script id="scanner" async src="/scanner.js" type="text/javascript"></script>
</body>
</html>
