<style>
    div {
        position: relative;
        display: inline-block;
    }

    canvas {
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
    }

    .findCanvas {
        opacity: 0;
    }
</style>
<div>
    <video class="userMedia"></video>
    <canvas class="trackerCanvas"></canvas>
    <canvas class="findCanvas"></canvas>
    <canvas class="resultCanvas"></canvas>
</div>