style.
    :host {
        display: block;
    }

    .vertical {
        position: relative;
        width: 100%;
    }

    .slot-wrapper {
        width: 100%;
        height: 100%;
        overflow: hidden;
        display: flex;
        flex-flow: row wrap;
        align-content: center;
        justify-content: space-around;
    }

    .wrapper {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

    }

    .container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }


.vertical(style="padding-top:[[heightProportion]]%;")
    .wrapper
        tc-proportional-block.container
            .slot-wrapper
                slot