// TODO: Align this with MediaContraints
vaadin-form-layout
    vaadin-form-item
        vaadin-dropdown-menu(label="Label" placeholder="Placeholder")
            div(slot="prefix")
                iron-icon(icon="lumo:user")
            template
                vaadin-list-box
                    vaadin-item(value="1") Option one
                    vaadin-item(value="2") Option two
                    vaadin-item(value="3") Option three
                    vaadin-item(value="4") Option four
    vaadin-form-item
        vaadin-text-field(label="Label")
